* {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  color: #020636;
}

body .navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  background-color: #f8f0e3;
}

body .container {
  gap: 14vw;
}

body ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3vw;
}

body .navbar-light .navbar-nav .nav-link {
  color: #020636;
  font-weight: bolder;
  margin: auto;
}

body .d-flex .andriod {
  background-color: #020636;
  color: #fff;
  border-radius: 15px;
  line-height: 3vh;
  padding-top: 5px;
  font-size: 13px;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 120px;
}

body .d-flex .andriod img {
  padding-top: 11px;
}

body .d-flex .andriod p {
  text-decoration: none;
  color: #eee;
}

body .d-flex .iphone1 {
  width: 120px;
  font-size: 13px;
  border-radius: 15px;
  line-height: 3vh;
  padding-top: 5px;
  margin-left: 15px;
  background-color: transparent;
  border: 3px solid #020636;
  padding: 6px;
}

body .d-flex .iphone1 p {
  color: #020636;
}

.firstsection {
  background-color: #020636;
  color: #fff;
  padding-top: 15vh;
  padding-bottom: 20vh;
}

.firstsection .d-flex .andriod2 {
  font-size: 13px;
  border-radius: 15px;
  line-height: 3vh;
  padding-top: 5px;
  background-color: #f8f0e3;
  border: 3px solid #020636;
  padding: 6px;
  color: #020636 !important;
  padding-right: 5px;
  padding-bottom: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

.firstsection .d-flex .iphone2 {
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  border-radius: 15px;
  line-height: 3vh;
  padding-top: 5px;
  margin-left: 15px;
  background-color: #d65123;
  border: 3px solid #020636;
  padding: 6px;
  width: auto;
}

.firstsection h4 {
  font-size: 48px;
  padding-bottom: 5vh;
}

.firstsection .circle {
  border: 2px solid #d65123;
  border-radius: 200%;
}

.firstsection strong {
  color: #d65123;
}

.firstsection h6 {
  font-size: small;
  color: #f8f0e3cc;
  font-weight: bold;
  line-height: 2vh;
  padding-bottom: 3vh;
}

.firstsection .dressing {
  background-color: #f8f0e380;
  border-radius: 15px;
  width: 70%;
  border-top: 5px;
}

.firstsection .dressing img {
  padding-right: 10px;
  padding-left: 5px;
}

.firstsection .dressing p {
  margin: 0;
}

.sectiontwo {
  color: #020636;
  font-weight: bold;
  background-color: #f8f0e3;
}

.sectiontwo .phone {
  -webkit-transform: translateY(-15vh);
          transform: translateY(-15vh);
}

.sectiontwo .d-flex .andriod3 {
  font-size: 13px;
  border-radius: 15px;
  line-height: 3vh;
  padding-top: 5px;
  background-color: #d65123;
  border: 3px solid #d65123;
  padding: 6px;
  color: #020636 !important;
  padding-right: 5px;
  padding-bottom: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

.sectiontwo .d-flex .iphone3 {
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  border-radius: 15px;
  line-height: 3vh;
  padding-top: 5px;
  margin-left: 15px;
  background-color: #020636;
  border: 3px solid #020636;
  padding: 6px;
  color: #f8f0e3;
}

.sectionthree {
  background-color: #f8f0e3;
  padding-top: 15vh;
}

.sectionthree h4 {
  color: #020636;
  font-family: Nunito Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  padding-left: 10px;
}

.sectionthree p {
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.sectionthree .list ul {
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  list-style-type: none;
  display: inline;
}

.sectionthree .btn {
  background-color: #020636;
  color: #eee;
  width: 50vh;
  border-radius: 10px;
  font-family: Nunito Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

.sectionfour {
  background-color: #020636;
}

.sectionfour h4 {
  font-family: Nunito Sans;
  font-style: normal;
  text-align: center;
  color: #f8f0e3;
}

.sectionfour p {
  font-family: Nunito Sans;
  font-style: normal;
  text-align: center;
  color: #f8f0e3cc;
}

.sectionfour .playstore {
  gap: 3vw;
}

.sectionfour .d-flex .andriod4 {
  font-size: 13px;
  border-radius: 15px;
  line-height: 3vh;
  padding-top: 5px;
  background-color: #d65123;
  border: 3px solid #d65123;
  padding: 6px;
  padding-right: 5px;
  padding-bottom: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

.sectionfour .d-flex .iphone4 {
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  border-radius: 15px;
  line-height: 3vh;
  padding-top: 5px;
  margin-left: 15px;
  background-color: #f8f0e3;
  border: 3px solid #020636;
  padding: 6px;
}

.sectionfour .d-flex .iphone4 p {
  color: #020636;
}

.sectionfour .iphonerotate {
  margin: auto !important;
  display: block;
}

.faq {
  background-color: #f8f0e3;
}

footer {
  background-color: #020636;
  color: #fff;
}

footer img {
  width: 30px;
}

footer li {
  list-style-type: none;
  color: #fff;
}

footer li a {
  text-decoration: none;
}

footer .copyright {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accordion {
  background-color: #f8f0e3;
  color: #020636;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: 1px solid #020636;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: "\02795";
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}
/*# sourceMappingURL=style.css.map */