@import "../styles/modules/color";
@import "../styles/modules/variables";

* {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 40px;
  font-family: "Poppins", sans-serif;

  .navbar {
    // justify-content: space-evenly;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    background-color: #f8f0e3;
  }

  .container {
    gap: 14vw;
  }

  ul {
    align-items: center;
    display: flex;
    gap: 3vw;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #020636;
    font-weight: bolder;
    margin: auto;
  }

  .d-flex .andriod {
    background-color: #020636;
    color: #fff;
    border-radius: 15px;
    line-height: 3vh;
    padding-top: 5px;
    font-size: 13px;
    padding-right: 5px;
    padding-bottom: 5px;
    width: 120px;

    img {
      padding-top: 11px;
    }
    p {
      text-decoration: none;
      color: #eee;
    }
  }
  .d-flex .iphone1 {
    width: 120px;
    font-size: 13px;
    border-radius: 15px;
    line-height: 3vh;
    padding-top: 5px;
    margin-left: 15px;
    background-color: transparent;
    border: 3px solid #020636;
    padding: 6px;
    p {
      color: #020636;
    }
  }
}

.firstsection {
  background-color: #020636;
  color: #fff;
  padding-top: 15vh;

  .d-flex .andriod2 {
    width: 150px;
    font-size: 13px;
    border-radius: 15px;
    line-height: 3vh;
    padding-top: 5px;
    // margin-left: 15px;
    background-color: #f8f0e3;
    border: 3px solid #020636;
    padding: 6px;
    color: #020636 !important;
    padding-right: 5px;
    padding-bottom: 5px;
    align-items: center;
    width: auto;
  }
  .d-flex .iphone2 {
    width: 150px;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: 13px;
    border-radius: 15px;
    line-height: 3vh;
    padding-top: 5px;
    margin-left: 15px;
    background-color: #d65123;
    border: 3px solid #020636;
    padding: 6px;
  }
  .circle {
        border: 2px solid #d65123;
        border-radius: 200%;
        font-size: larger;
      }
      strong{
        color: #d65123;
      }
      h6{
        font-size: xx-small;
        color: #F8F0E3CC;
        font-weight: bold;

      }

  .dressing {
    background-color: #f8f0e380;
    border-radius: 15px;
    width: 70%;
    border-top: 5px;
    img {
      padding-right: 10px;
      padding-left: 5px;
    }
    p {
      margin: 0;
    }
     
      
    
  }
}
footer {
  background-color: #020636;
  color: #fff;

  img {
    width: 30px;
  }

  li {
    list-style-type: none;
    color: #fff;
    a {
      text-decoration: none;
    }
  }
  .copyright {
    justify-content: space-between;
  }
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.active,
.accordion:hover {
  background-color: #ccc;
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
